body {
    margin: 0px;
    text-align: center;
    background: #fff;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333333;
}
.containera2faGP {
    position: relative;
	margin: 0px auto;
	max-width: 400px;
	height: auto;
	border: 2px solid #98CAF4;
}
.landingpagegpfa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.imga2fa {
    margin-top: 20px;
}
.imga2fa img {
    width: 100px;
    height: auto;
}
.imga2fa p {
    font-size: 20px;
    font-weight: 600;
}
.boxa2fagp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    background: #ffeded73;
    width: 80%;
    font-size: 17px;
    font-weight: 500;
}
.boxa2fagp img {
    margin-bottom: 20px;
}
.boxa2fagp button {
    margin-top: 25px;
    font-size: 19px;
    padding: 10px 25px;
    background: #4286f4;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.boxa2fagp p {
    font-size: 25px;
    font-weight: 600;
    margin-block-end: 1.5em;
}
.boxa2fagp input {
    width: 90%;
    color: #000;
    padding: 5px 20px;
    font-size: 25px;
    font-weight: 500;
    border: 1px solid #848484;
    border-radius: 5px;
    margin-bottom: 10px;
}
.belajara2fa {
    margin-top: 30px;
    margin-bottom: 10px;
}
.belajara2fa p {
    font-size: 25px;
}
.boxbelajara2fa p {
    font-size: 20px;
    font-weight: 600;
}
.boxbelajara2fa img {
    width: 115px;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #000;
    border-radius: 5px;
}
.flexbelajara2fa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.popimga2fa {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #0003;
    display: none;
}
.cont-popA2fa {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 28px;
}
.imgressa2fa {
    margin: 15%;
}
.imgressa2fa img {
    width: 95%;
    border: 3px solid #000;
    box-shadow: 0px 0px 20px #000;
}
@media only screen and (max-width:600px) {
    .containera2faGP {
        width: 100%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
		border: none;
        padding: 0px;
    }
}
